html {
    height: 100%;
}

body {
    background-color:#fff1e6;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    
}

header {  
    background-color: #eddcd2;  
    height: 10%;
    display:flex;
    align-items: center;
    justify-content: left;

}

h1{
    font-family: termina, sans-serif;
    font-weight: 700;
    font-style: normal;
    padding-left: 5%;
    padding-right: 5%;
    
}

.sisaloota {
    margin: 0;
    margin-top: 10px;
    height: 40%;
    width: 77%;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    position: relative;
    top: 15px;
    background-color:#f7ede2;
    display: flex;
    flex-direction: column;
    justify-content:center;
     
}
.riviloota{
    height: 50%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
}
.ulkoloota {
    margin: 2%;
    background-color: #eddcd2;
    height: 99%;
    width: 50%;
    border-radius: 10px;
    overflow: scroll;
    
}
.ulkoloota:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

h2 {
    font-family: termina, sans-serif;
    font-weight: 700;
    font-style: normal;
    position: relative;
    left: 10px;
}

p{
    font-family: p22-underground, sans-serif;
    font-weight: 100;
    font-style: normal;
    position: relative;
    left: 10px;
    top: 10px;
    margin-right: 7%;
}

footer{
    font-family: p22-underground, sans-serif;
    font-weight: 100;
    font-style: normal;
    width: 100%;
    background-color: #eddcd2;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 0px;
}

.erikoislinkki:link, .erikoislinkki:visited {
    background-color: #fff1e6;
    color: #7a5c4b;
    border: 2xp white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}
.erikoislinkki:hover, .erikoislinkki:active{
    background-color:  #a17b65;
    color: #fff1e6;
}
.otsikkolinkki:link, .otsikkolinkki:visited{
    text-decoration: none;
    color: rgb(0, 0, 0);
    
}
.paaotsikko:link, .paaotsikko:visited{
    text-decoration: none;
    color: rgb(0, 0, 0);
    
}
/* Dropdown Button */
.dropbtn {
    font-family: p22-underground, sans-serif;
    font-weight: 100;
    font-style: normal;
    background-color:rgba(255, 255, 255, 0);
    color: black;
    padding: 16px;
    right: 16px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    font-family: p22-underground, sans-serif;
    font-weight: 100;
    font-style: normal;
    position: relative;
    display: inline-block;
    border-radius: 10px;
    position: relative;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    font-family: p22-underground, sans-serif;
    font-weight: 100;
    font-style: normal;
    display: none;
    position: absolute;
    background-color: #fff1e6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    font-family: p22-underground, sans-serif;
    font-weight: 100;
    font-style: normal;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color:  #a17b65;
    color: #fff1e6;
    border-radius: 10px;
}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}


.jalkateksti {
    position: relative;
    left: 20px;
    margin-right: 0%;
}

.projektipohja {
    background-color: pink;
}

@media (max-width: 680px) {

}